<%- include('partials/header.ejs'); -%>
    <div class="container">
    <!-- DELETE FORM UNIVERSAL -->
        <form id="delete-form" method="post" style="display:none;">
            <input type="hidden" name="delete_item_id" value="">
            <input type="hidden" name="delete_item_DOMid" value="">
            <input type="hidden" name="delete_item_DOMid_additional" value="">
            <input type="hidden" name="delete_resource_id" value="">
            <input type="hidden" name="delete_route" value="">
        </form>

        <%- include('partials/categories_bar.ejs'); -%>


        <div class="box" id="main-content">
            <% // console.log(resources);%>

            <% for(let item of resources){%>
                <% const resourceIndex = resources.indexOf(item); %>
    <!-- BOOK -->
            <div class="user-book deletable-item visible" id="resource-id-<%= item?.resource_id %>" data-id="<%= item?.resource_id %>">
                <a class="book-heading" onclick="filterResources(null, null, <%= item?.resource_id %>)">
                <!-- <a href="/resource/<%=// item.resource_id %>" class="book-heading" >  BACKUP -->
                    <div class="book-cover">
                        <img src="<%= item?.cover_url ?? null %>">
                    </div>
                    <div class="book-heading-text">
                        <div class="book-categories-row"> <!-- CATEGORIES -->
                            <% for(let cat of item?.resource_categories){ %>
                                <span class="single-category book-with-category-<%=cat?.category_id %> visible-horizontal" id="book-<%= item?.resource_id %>-cat-<%=cat?.category_id %>" data-id="<%=cat?.category_id %>" draggable="true"><%=cat?.category_name %></span>
                            <%}%>
                        </div>
                       
                        <h2><%= item.resource_title %></h2>
                        <h3><%= item?.subtitle ?? null %></h3>
                        <h5><span class="author-text">By <%= item.authors %></span><span class="year-text"><%= item?.publication_year ?? null -%><%if(item?.place){%>,<% } %>
                        <%- item?.place ?? null -%></span></h5>
                    </div>
                </a>
                <div class="resource-expand">
                    <button class="icon-button" onclick="toggleResource(<%= item?.resource_id %>)" type="button"><i id="toggle-notes-icon-<%= item?.resource_id %>" class="fa-solid fa-circle-chevron-down"></i></button>
                </div>
    <!-- NOTES     -->
     
                <div class="notes-box hidden" id="notesbox-<%= item?.resource_id %>">
                    <h4><span>Notes <span><button class="icon-button tooltip-container" type="add" name="add-note" onclick="handler('new-note-<%= item?.resource_id %>')"><i class="fa-solid fa-square-plus"></i><span class="tooltip">create new note</span></button></span></span> <span class="notes-sortby">Sort by:</span></h4>
    <!-- ADD NOTE -->
                    <form class="new-note hidden" action="/add-note" method="post" id="add-new-note-<%= item?.resource_id %>">
                        <div class="new-note-box">
                            <div class="tags-rollout">
                                <button onclick="newNoteRolloutToggle(<%= item?.resource_id %>)" type="button">Select Tags <i id="triangle-icon-<%= item?.resource_id %>" class="fa-solid fa-square-caret-right"></i></button>
                                    <div id="tag-rollout-<%= item?.resource_id %>" class="tag-rollout-drawer hidden">
                                        <div id="tag-container-<%= item?.resource_id %>" class="all-tags-row">
                                            <% tags.forEach(tag => { %>
                                                <span class="tag single-note-tags" data-id="<%= tag.id %>" data-name="<%= tag.name %>" data-color="<%= tag.color %>" data-invert-color="<%= tag.invertColor %>" style="background-color: <%= tag.color %>; color: <%= tag.invertColor %>; border-color: <%= tag.invertColor %>" onclick="selectTag(this, <%= item?.resource_id %>)">
                                                    <%= tag.name %>
                                                </span>
                                            <% }); %>
                                        </div>
                                        <div class="add-new-tag-miniform">
                                            <input class="add-new-tag-input" type="text" placeholder="New tag name..." />
                                            <button class="color-selector-button" data-jscolor="{value:'#5ED8FF'}" >color</button>
                                            <!-- <input class="color-selector-button" type="color"/> -->
                                            <button type="button" onclick="addTag(<%= item?.resource_id %>, null)">Add New Tag</button>
                                        </div>
                                    </div>
                                    <input type="hidden" name="selectedTagIds" id="selectedNewNoteTags-<%= item?.resource_id %>" />
                                    <input type="hidden" name="selectedTagsNames" id="selectedNewNoteTagsNames-<%= item?.resource_id %>" />
                                    <input type="hidden" name="selectedTagsColors" id="selectedNewNoteTagsColors-<%= item?.resource_id %>" />
                                    <input type="hidden" name="selectedTagsColorsInv" id="selectedNewNoteTagsColorsInv-<%= item?.resource_id %>" />
                            </div>
                            <!-- <input type="text" name="newNoteTags" placeholder="Tags" autocomplete="off" autofocus="true"  id="new-note-pages"/> -->
                            <textarea class="new-note-text" type="text" name="note_text" placeholder="New note..." autocomplete="off" autofocus="true" id="new-note-text-<%= item?.resource_id %>" required></textarea>
                            <div class="flex-end">
                                <label for="new-note-pages">Pages: </label>
                                <input type="text" name="target_pages" placeholder="Pages" autocomplete="off" autofocus="true" id="new-note-pages-<%= item?.resource_id %>"/>
                                <label for="new-note-link">Link: </label>
                                <input type="text" name="target_object" placeholder="Link" autocomplete="off" autofocus="true" id="new-note-link-<%= item?.resource_id %>"/>
                            </div>
                            <input type="hidden" name="resource_id" value="<%= item.resource_id %>" />
                            <button class="text-button" type="submit" name="note-submit" onclick="submitNewNote('add-new-note-<%= item?.resource_id %>')" value="" >Submit</button>
                            <button class="text-button" type="reset" name="note-cancel" onclick="cancelNewNote('add-new-note-<%= item?.resource_id %>')" value="" >Cancel</button>
                        </div>
                    </form>
    <!-- ADD NOTE END -->
                    <!-- te dwie linijki są potrzebne żeby object był widziany jako array -->
                    <% let notesTagsCorelArray = [notes_tags_corel]; %>
                    <% notesTagsCorelArray = [...notes_tags_corel]; %> 

                    <% if (resources[resourceIndex]?.notes && resources[resourceIndex].notes.length > 0) { %>
                        <% for(let note of resources[resourceIndex]?.notes ?? null){%>
                            <div class="single-note-item deletable-item <%if (!note?.note_id){%><%='hidden'%><%}%>" id="note-id-<%= note?.note_id %>">
                                <% const filteredArray = notesTagsCorelArray.filter((id) => id.note_id == note.note_id ) %>
    <!-- NOTE HEADING -->
                                <div class="note-heading-row">
                                    <div class="note-date-del-edit-row">
                                        <!-- ten przycisk raczej do zmiany -->
                                        <form action="/edit-note" method="post">
                                            <input type="hidden" name="note_id" value="<%= note?.note_id ?? null %>">
                                            <button 
                                                class="icon-button tooltip-container" 
                                                type="edit" 
                                                name="edit-note" 
                                                onclick="handler('edit-note')">
                                                <i class="fa-solid fa-file-pen"></i><span class="tooltip">edit note</span>
                                            </button>
                                        </form>

                                        <button 
                                            class="icon-button tooltip-container" 
                                            id="delete-note-<%= note?.note_id ?? null %>"
                                            type="button"
                                            onclick="showConfirmationPopup('<%= note?.note_id ?? null %>', '/delete-note', '<%= item.resource_id %>', 'note-id-<%= note?.note_id %>', null)">
                                            <i class="fa-solid fa-trash"></i><span class="tooltip">delete note</span>
                                        </button>
                                        <p class="note-date" value="date" id="note-<%= note?.note_id ?? null %>-date"><%= note?.formattedDate ?? null %></p>

                                    </div>
    <!-- NOTE HEADING: TAGS -->
                                    <p class="note-tags-row">
                                    <button class="icon-button-tags tooltip-container" type="add" name="add-tag" onclick="handler('new-tag')">+<span class="tooltip">add tags</span></button>
                                    <% for(let tag of filteredArray){ %>
                                        <% const tagId = tag.tag_id; %>
                                        <% const filteredTags = tags.filter((item) => item.id == tagId ) %> 
                                        <span class="single-note-tags" id="tag-id-<%=tag.tag_id %>" style="background-color: <%= filteredTags[0].color %>; color: <%= filteredTags[0].invertColor %>; border-color: <%= filteredTags[0].invertColor %>"><%= filteredTags[0].name %></span>
                                    <%}%></p>
                                </div>
    <!-- NOTE TEXT -->
                                <p class="single-note-text" id="note-<%= note?.note_id ?? null %>-text"><%= note.note_text %>
                                    <span class="single-note-targets" id="note-<%= note?.note_id ?? null %>-target-object">
                                        <% if (note?.target_object) { %>
                                            Link: <a href="<%= note?.target_object %>" rel="noopener noreferrer" target="_blank"><%= note?.target_object %></a>
                                        <%}%>
                                    </span>
                                    <span class="single-note-targets" id="note-<%= note?.note_id ?? null %>-target-pages">
                                        <% if (note?.target_pages) { %>
                                            Pages: <%= note.target_pages %>
                                        <% } %>
                                    </span>

                                </p>
                            </div>
                        <%}%>
                    <%}%>
                </div>
            </div>
            <% } %>

            <div id="confirmation-popup" style="display:none;">
                <div class="popup-content">
                    <p>Are you sure you want to delete this item?</p>
                    <button onclick="confirmDelete()">Yes</button>
                    <button onclick="cancelDelete()">Cancel</button>
                </div>
            </div>
            <div id="remove-popup" style="display:none; pointer-events: none;">
                <div class="remove-popup-content">
                    <button 
                    class="icon-button tooltip-container" 
                    id="remove-item-bucket"
                    type="button">
                    <i class="fa-solid fa-trash"style="pointer-events: none;"></i><span class="tooltip">remove item</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    


<%- include('partials/footer.ejs'); -%>